.footer{
    background: #2f2d35;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 30px 0;
}

.footer .container{
    max-width: 1140px;
    /* position: sticky;
    bottom: 0; */
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    margin: auto;
}


.footer h3{
    font-size: 36px;
    font-weight: 700;
    color: #9c31e4;
    position: relative;
    padding: 0;
    /* display: block;
    margin: auto; */
    margin-bottom: 15px;
}

.footer p{
        /* font-size: 15px; */
        font-style: italic;
        padding: 0;
        margin: 0 0 30px 0;
}

.footer .my-links{
    margin-bottom: 20px;
}

.footer .icon-bg{
    font-size: 18px;
    display: inline-block;
    background: #3e3b46;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

.footer .icon-bg:hover  {
    background-color: #9c31e4;
}



.footer a{
    text-decoration: none;
    color: #fff;
}


.footer a:visited{
    text-decoration: none;
    color: #afd8ee;
}

.footer a:hover{
    color: #9c31e4;
}

.footer nav ul{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

/* .footer nav li{
list-style: none;
   margin: 2px;
} */

@media screen and (max-width:720px){
    
    .footer nav ul {
        display: flex;
        flex-wrap: wrap; 
        justify-content: center; 
        row-gap: 20px; 
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .footer nav li {
        flex-basis: 30%;
        text-align: center; 
    }

    /* .footer nav ul {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        place-items: center;
        gap: 1rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .footer-nav li {
        text-align: center;
    }

    /* --- First Row --- */
    /* Place the first item */
    /* .footer-nav li:nth-child(1) {
        grid-column: 1 / 3;
    } */

    /* Place the second item */
    /* .footer-nav li:nth-child(2) {
        grid-column: 3 / 5;
    } */

    /* Place the third item */
    /* .footer-nav li:nth-child(3) {
        grid-column: 5 / 7;
    }  */


    /* --- Second Row (Centered) --- */
    /* Place the fourth item, leaving the first grid column empty */
    /* .footer nav li:nth-child(4) {
        grid-column: 2 / 4;
    } */

    /* Place the fifth item, leaving the last grid column empty */
    /* .footer-nav li:nth-child(5) {
        grid-column: 4 / 6;
    } */
    
}